.portfolio  {
  @include mq-not-mobile  {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  ul  {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    width: 90%;
    margin: 0 auto;
    @include mq-not-mobile  {
      width: auto;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
    }
    @include laptops  {
      width: 80%;
    }
    li  {
      margin: .5rem 0;
      display: inline-block;
      @include mq-not-mobile  {
        width: 45%;
        margin: .5rem;
      }
      @include laptops  {
        width: 40%;
      }
      &:nth-child(1)  {
        margin-top: 0;
        @include mq-not-mobile  {
          margin: .5rem;
        }
        a  {
          background-color: #ff6c84;
        }
      }
      &:nth-child(2) a  {
        background-color: #0c877a;
      }
      &:nth-child(3) a  {

        background-color: #B7004E;
      }
      &:nth-child(4)  {
        margin-bottom: 0;
        @include mq-not-mobile  {
          margin: .5rem;
        }
        a  {
          background-color: #28293E;
        }
      }
      a   {
        padding: .5rem;
        display: block;
        @include laptops  {
          transition: all .5s ease;
          position: relative;
          &:after  {
            position: absolute;
            content: '';
            background-color: darken($bg-color, 0);
            opacity: .5;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transition: all .5s ease;
          }
          &:hover   {
            figcaption  {
              bottom: 0;
            }
            &:after {
              opacity: 0;
            }
          }
        }
        figure  {
          width: 100%;
          margin: 0 auto;
          position: relative;
          overflow: hidden;
          @include laptops  {
            max-width: 25rem;
          }
          img   {
            display: block;
            width: 100%;
          }
          figcaption  {
            position: absolute;
            width: 100%;
            bottom: 0;
            font-size: 1rem;
            padding: .5rem;
            font-weight: 400;
            background-color: white;
            color: $bg-color;
            @include laptops  {
              min-height: 6rem;
              font-size: 1.4rem;
              font-weight: 300;
              display: flex;
              align-items: center;
              justify-content: center;
              transition: all .3s ease-in-out;
              bottom: -6rem;
            }
          }
        }
      }
    }
  }
}