@import "base/normalize/normalize";
@import "base/fonts";
@import 'helpers/variables';
@import "helpers/mixins";
@import "helpers/animation";
@import "base/general";

@import "components/mainSection";
@import "components/porfolio";
@import "components/about";
@import "components/infoForMobile";

