*   {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body  {
  background-color: $bg-color;
  font-family: $text-font;
  color: white;
}
a   {
  color: inherit;
  text-decoration: none;
}
main  {
  width: 100%;
  margin: 0 auto;
  @include mq-not-mobile  {
    width: 70%;
  }
  @include laptops  {
    width: 60%;
  }
}
h2  {
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  @include mq-not-mobile  {
    font-size: 3rem;
  }
  @include laptops  {
    font-size: 4rem;
  }
}
ul  {
  list-style-type: none;
  li  {
    text-align: center;
    font-weight: 300;
    @include mq-not-mobile  {
      font-size: 1.2rem;
    }
    @include laptops  {
      font-size: 1.5rem;
    }
  }
}
.tabs {
  min-height: 100vh;
  padding: 0 1rem;
}
p   {
  font-size: 1rem;
  word-spacing: .1rem;
  margin: 0.625rem 0;
  font-weight: 300;
  @include mq-not-mobile  {
    line-height: 2rem;
    font-size: 1.2rem;
  }
  @include laptops  {
    font-size: 1.5rem;
  }
}