html  {
  overflow-x: hidden;
}
*   {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body  {
  background-color: $bg-color;
  font-family: $text-font;
  color: white;
  transition: all 1.5s ease;
  &.light  {
    background-color: $light-color;
  }
  &.dark {
    background-color: $dark-color;
  }
}
a   {
  color: inherit;
  text-decoration: none;
}
h2  {
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  @include mq-not-mobile  {
    font-size: 3rem;
  }
  @include laptops  {
    font-size: 4rem;
  }
}
ul  {
  list-style-type: none;
  li  {
    text-align: center;
    font-weight: 300;
    @include mq-not-mobile  {
      font-size: 1.2rem;
    }
    @include laptops  {
      font-size: 1.5rem;
    }
  }
}
.tabs {
  width: 100%;
  margin: 0 auto;
  @include mq-not-mobile  {
    width: 70%;
  }
  @include laptops  {
    width: 60%;
  }
  min-height: 100vh;
  padding: 0 1rem;
}
.slides {
  transition: all 1s ease;
  &.moveLeft  {
    transform: translateX(-100vw);
  }
  &.moveRight {
    transform: translateX(100vw);
  }
}
p   {
  font-size: 1rem;
  word-spacing: .1rem;
  margin: 0.625rem 0;
  font-weight: 300;
  @include mq-not-mobile  {
    line-height: 2rem;
    font-size: 1.2rem;
  }
  @include laptops  {
    font-size: 1.5rem;
  }
}
.next,
.previous {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 2rem;
  padding-bottom: 3px;
  @include laptops  {
    display: inline-block;
  }
  &:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
  &:hover:after {
    width: 100%;
    background: white;
  }
}
.next {
  right: -30%;
}
.previous {
  left: -30%;
}